$ff-sans: "Avenir Next", Arial, sans-serif;

$font-sizes: (
  900: 7.5rem,    // 120px
  800: 5rem,      // 80px
  700: 3.75rem,   // 60px
  600: 1.6875rem, // 27px
  500: 1.3125rem, // 21px
  400: 1.125rem,  // 18px
  300: 1rem,      // 16px
);

$fw-800: 800;
