@use "../abstracts/index" as *;
@use "node_modules/bootstrap/scss/bootstrap-grid" as *;

.container {
  --padding: #{ $container-inline-padding } * 2;
  --max-width: #{ $container-max-width };

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{ $container-max-width-wide };
}

.centered-container {
  display: grid;
  min-height: calc(100vh - var(--main-navigation-height));
  place-items: center;
}
